* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f4f5f6;
  font-family: "Roboto Condensed",sans-serif;
}

a {
  color: black;
}

figcaption {
  bottom: 0;
  left: 0;
  background: #e7e8e8;
  font: bold 17px/16px "Roboto Condensed",sans-serif;
  padding: 8px 15px 9px;
}

.wrapper {
  max-width: 1310px;
  margin: 0 auto;
}

header {
  color: white;
  fill: white;
  font-size: 16px;
  height: 95px;
  padding: 20px 10px 15px 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header a {
  text-decoration: none;
  color: white;
  font: bold 18px/14px "Roboto Condensed",sans-serif;
  padding: 4px 10px;
}

header a:hover {
  text-decoration: none;
  color: unset;
}

header a:first-child {
  padding: 0 12px;
}

header svg {
  height: 60px;
}

@media only screen and (max-width: 993px) {
  header {
    padding: 0;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header svg {
    height: 20px;
  }
}

.topButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

nav {
  font-size: 21px;
  width: 100%;
  font-weight: 700;
  position: relative;
  border-bottom: 2px solid #f4f5f6;
}

nav::before {
  position: absolute;
  width: 66px;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

@media only screen and (max-width: 993px) {
  nav::before {
    display: none;
  }
}

nav ul {
  padding: 15px 160px 15px 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav li {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #d9d9d9;
}

nav li:first-child {
  border: none;
}

main {
  height: 200vh;
  padding: 20px 30px 0;
}

.realSticky {
  height: 100vh;
}

.featured {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.featured h2 {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  font-weight: bold;
}

.featured img {
  width: 100%;
}

.topStory {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42%;
          flex: 0 1 42%;
}

.opinion {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
